Proyect/Pre-releases/Dashboard/example_mqtt.json
[
    {
        "id": "69d6e99dc7152dd8",
        "type": "tab",
        "label": "test-mqtt",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "edf75cb55a92d54d",
        "type": "mqtt in",
        "z": "69d6e99dc7152dd8",
        "name": "",
        "topic": "test",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "534725013ade208e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "4450a951abd4ee00"
            ]
        ]
    },
    {
        "id": "c005f4946bfc51fc",
        "type": "mqtt out",
        "z": "69d6e99dc7152dd8",
        "name": "",
        "topic": "test",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "534725013ade208e",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "55c0c5aa4c6047e8",
        "type": "inject",
        "z": "69d6e99dc7152dd8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hola no soy dilan",
        "payloadType": "str",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "c005f4946bfc51fc"
            ]
        ]
    },
    {
        "id": "4450a951abd4ee00",
        "type": "debug",
        "z": "69d6e99dc7152dd8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "534725013ade208e",
        "type": "mqtt-broker",
        "name": "Mosquitto_Local",
        "broker": "178.6.9.155",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]