Project/Tests/test-threejs/flow-threejs.json
[
    {
        "id": "flow_imu",
        "type": "tab",
        "label": "IMU 3D Control"
    },
    {
        "id": "rollF",
        "type": "ui-slider",
        "z": "flow_imu",
        "group": "5fdc4547e0275bf2",
        "name": "RollF",
        "label": "RollF",
        "order": 6,
        "width": "",
        "height": "",
        "passthru": true,
        "topic": "rollF",
        "topicType": "str",
        "showTicks": "true",
        "min": "-90",
        "max": "90",
        "step": "10",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "imu_builder"
            ]
        ]
    },
    {
        "id": "pitchF",
        "type": "ui-slider",
        "z": "flow_imu",
        "group": "5fdc4547e0275bf2",
        "name": "PitchF",
        "label": "PitchF",
        "order": 7,
        "width": "",
        "height": "",
        "passthru": true,
        "topic": "pitchF",
        "topicType": "str",
        "showTicks": "true",
        "min": "-90",
        "max": "90",
        "step": "10",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "imu_builder"
            ]
        ]
    },
    {
        "id": "yawF",
        "type": "ui-slider",
        "z": "flow_imu",
        "group": "5fdc4547e0275bf2",
        "name": "YawF",
        "label": "YawF",
        "order": 8,
        "width": "",
        "height": "",
        "passthru": true,
        "topic": "yawF",
        "topicType": "str",
        "showTicks": "true",
        "min": "-90",
        "max": "90",
        "step": "10",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 170,
        "y": 400,
        "wires": [
            [
                "imu_builder"
            ]
        ]
    },
    {
        "id": "rollA",
        "type": "ui-slider",
        "z": "flow_imu",
        "group": "5fdc4547e0275bf2",
        "name": "RollA",
        "label": "RollA",
        "order": 2,
        "width": "",
        "height": "",
        "passthru": true,
        "topic": "rollA",
        "topicType": "str",
        "showTicks": "true",
        "min": "-90",
        "max": "90",
        "step": "10",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "imu_builder"
            ]
        ]
    },
    {
        "id": "pitchA",
        "type": "ui-slider",
        "z": "flow_imu",
        "group": "5fdc4547e0275bf2",
        "name": "PitchA",
        "label": "PitchA",
        "order": 3,
        "width": "",
        "height": "",
        "passthru": true,
        "topic": "pitchA",
        "topicType": "str",
        "showTicks": "true",
        "min": "-90",
        "max": "90",
        "step": "10",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "imu_builder"
            ]
        ]
    },
    {
        "id": "yawA",
        "type": "ui-slider",
        "z": "flow_imu",
        "group": "5fdc4547e0275bf2",
        "name": "YawA",
        "label": "YawA",
        "order": 4,
        "width": "",
        "height": "",
        "passthru": true,
        "topic": "yawA",
        "topicType": "str",
        "showTicks": "true",
        "min": "-90",
        "max": "90",
        "step": "10",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "imu_builder"
            ]
        ]
    },
    {
        "id": "imu_builder",
        "type": "function",
        "z": "flow_imu",
        "name": "Build IMU Object",
        "func": "let imu = flow.get(\"imu\") || {\nrollF:0,pitchF:0,yawF:0,\nrollA:0,pitchA:0,yawA:0\n};\n\nimu[msg.topic] = msg.payload;\n\nflow.set(\"imu\",imu);\n\nmsg.payload = JSON.stringify(imu);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 220,
        "wires": [
            [
                "ws_out"
            ]
        ]
    },
    {
        "id": "ws_out",
        "type": "websocket out",
        "z": "flow_imu",
        "name": "imu websocket",
        "server": "imu_ws",
        "client": "",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "iframe",
        "type": "ui-template",
        "z": "flow_imu",
        "group": "60329f93626b4829",
        "page": "",
        "ui": "",
        "name": "ThreeJS Viewer",
        "order": 2,
        "width": 6,
        "height": 6,
        "format": "<iframe src=\"http://127.0.0.1:5500/Intelligent-IMU-Wireless-Nodes-ESP32-for-Posture-Reeducation-and-Strengthening/Proyect/Tests/test-threejs/test-arm.html\" \nstyle=\"border:none\" \nheight=\"80%\" \nwidth=\"60%\">\n</iframe>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "5fdc4547e0275bf2",
        "type": "ui-group",
        "name": "Controles",
        "page": "39a0b4e801bed4d0",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "imu_ws",
        "type": "websocket-listener",
        "path": "/imu",
        "wholemsg": "false"
    },
    {
        "id": "60329f93626b4829",
        "type": "ui-group",
        "name": "Mediapipe_test",
        "page": "39a0b4e801bed4d0",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "39a0b4e801bed4d0",
        "type": "ui-page",
        "name": "2026_ITICS",
        "ui": "07364cccbec2747d",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "8c05b69b7d864577",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": "false"
    },
    {
        "id": "07364cccbec2747d",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "8c05b69b7d864577",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "3a9008628f1b9a8e",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]